<div class="container">
    <div class="content-left">
        <header>
            <img src="assets/img/logo.png" alt="Logotipo">
        </header>

        <div class="content">
            <div class="title">
                Ser o próximo trader<br>
                esportivo é muito <strong>fácil|</strong>
            </div>

            <div class="subtitle">
                Só na ETRADE Inc. você tem acesso ao melhor<br>
                dashboard de análise de mercado esportivo.<br>
                Melhore seu perfil e obtenha lucros de até 2x<br>
                mais.
            </div>

            <app-button-primary label="Crie sua conta grátis!"></app-button-primary>
        </div>
    </div>

    <div class="content-right">
        <img src="assets/img/bg-shapes.png" class="background-texture">

        <header>
            <app-button-secondary [icon]="lockIcon" label="LOG IN"></app-button-secondary>
            <app-button-secondary [icon]="plusIcon" label="CADASTRAR"></app-button-secondary>
        </header>

        <div class="content">
            <app-card [index]="i" [description]="feature.description" [icon]="feature.icon"
                *ngFor="let feature of features$ | async; index as i">
            </app-card>
        </div>
    </div>
</div>
