@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
  outline: 0;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}

.vCenter {
  align-items: center;
}
.between {
  justify-content: space-between;
}
.end {
  justify-content: flex-end;
}
.grow {
  flex-grow: 1;
}

.wrap {
  flex-wrap: wrap;
}
.full {
  width: 100%;
}
.half {
  width: 50%;
}
